body {
       background-color: orange;    
       text-align: center;
}

h1 {
    background-color: black;
    color:white;
    border-radius: 20px;
}

h2 {
      color: white;
      font-size: 80px;
      background-color: black;
      border-radius: 20px;
}